html,
body {
    margin: 0px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 150px;
    font-style: normal;
}
#ten-web {
    background-color: #f0dc43;
    text-align: center;
    font-size: 75px;
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 150px;
    font-style: normal;
    padding: 25px 0px 15px 0px;
    color: rgb(34, 128, 156);
}
.ten{
    font-size: 50px;
}
#nav {
    display: flex;
    font-size: medium;
    background-color: rgb(85, 249, 255);
    text-align: center;
}
.danhmuc {
    text-align: center;
    margin: 20px;
}
#dangnhap {
    text-align: center;
    margin: 20px;
}
#anh1 {
    width: 100%;
    object-fit: cover;
}
#article{
    padding: 50px;
}
#chuyenmuc {
    display: flex;
}
.muc {
    margin: 7px;
    text-align: center;
}
#tieude {
    text-align: center;
    color: rgb(0, 248, 12);
}
p {
    margin-left: 25px;
    font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 150px;
  font-style: normal;
}
.mon-an{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 50px;
}
.anh-minh-hoa{
    display: flex;
    align-self: center;
}
.hinh{
    width: 800px;
    height: 600px;
    object-fit: cover;
    margin: 15px;
}
.gioithieu{
text-align: center;
}
#end{
    background-color: #f0dc43;
    padding-top: 25px;
    padding-bottom: 25px;
}
h1{
    text-align: center;
}
#a{
margin-left: 400px;
}
.contact{
    display: flex;
    margin: 25px;
}
#b{
    display: flex;
}
form{
margin-left: 30%;}
.place1{
    width: 200px;
    height: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.place2{
    width: 417px;
    height: 20px;
}
.icon{
text-align: center;}
